@model PhotoHub.WEB.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.UserName;
    ViewBag.Keywords = Model.UserName + ",Log In to Follow,Manage Account,Giveaways,edit,Go to photo";
    ViewBag.Description = Model.About;
}

@section Scripts {
    <script defer src="~/js/users/details.js"></script>
}

 <div class="container" id="user" data-user="@Model.UserName" v-cloak>
    <div style="">
        <div style="">
            <div style="margin: 70px 0 70px 0; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;" v-bind:class="user.confirmed == true ? 'confirmed' : ''">
                <div style="width: 100%; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; align-items: center;">
                    <img v-bind:src="user.avatar?`/data/avatars/${user.userName}/${user.avatar}`:`/images/defaults/def-user-logo.png`" v-bind:alt="user.userName" class="is-circle has-tiny-shadow image" style="width: 200px;">
                    <div style="">
                        <h3 class="has-text-centered is-uppercase is-paddingless is-marginless is-size-3">About</h3>
                        <p class="has-text-centered is-size-4">{{ user.about == null ? " About section is empty" : user.about }}</p>
                    </div>
                </div>
                <div style="margin: 30px 0 30px 0; width: 100%; display: flex; flex-direction: row; justify-content: space-around; align-items: center; flex-wrap: wrap;">
                    <div style="margin-bottom: 15px;">
                        <button class="button" v-on:click="showFollowers" title="Followers">{{ user.followers.length }} followers</button>
                        <button class="button" v-on:click="showFollowings" title="Followings">{{ user.followings.length }} followings</button>
                    </div>
                    <div style="margin-bottom: 15px;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name != Model.UserName)
                            {
                                <button class="button" v-bind:title="user.followed?'Unfollow':'Follow'" v-bind:class="user.followed?'is-danger':'is-primary'" v-on:click="user.followed?disfollow():follow()"><i class="fas" v-bind:class="user.followed?'fa-user-times':'fa-user-plus'"></i> {{user.followed?'Unfollow':'Follow'}}</button>
                                <button class="button is-dark" v-bind:title="user.blocked?'Unblock':'Block'" v-on:click="user.blocked?disblock():block()"><i class="fas fa-ban"></i> {{user.blocked?'Unblock':'Block'}}</button>
                            }
                            else
                            {
                                <a href="/manage/index" class="button is-primary" title="Manage Account">Manage Account</a>
                            }
                        }
                        else
                        {
                            <a class="button is-link" href="/account/login" title="Log In to Follow">Log In to Follow</a>
                        }
                    </div>
                </div>
            </div>

            <div class="bg-light d-flex flex-column flex-wrap justify-content-center align-items-center rounded user-data-container width-75p margin-top-30px" v-if="giveaways.length > 0">
                <h5 class="text-center">Giveaways</h5>
                <div class="bg-light d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="width-100px" v-for="giveaway in giveaways">
                        <a class="btn btn-link" v-bind:href="`/Giveaways/Details/${giveaway.$id}`" v-bind:title="giveaway.Name">
                            <img class="width-100px" v-bind:src="`/data/giveaways/${giveaway.owner.userName}/${giveaway.avatar}`" v-bind:alt="giveaway.name" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Followers -->
        <div class="modal" v-bind:class="{'is-active': modals.followers}">
            <div class="modal-background" v-on:click="closeFollowers"></div>
            <div class="modal-card" style="max-height: 95%; min-height: 500px;">
                <header class="modal-card-head">
                    <p class="modal-card-title is-uppercase">followers</p>
                    <button class="delete" aria-label="close" v-on:click="closeFollowers"></button>
                </header>
                <section class="modal-card-body" style="overflow-x: hidden; overflow-y: auto;">
                    <div class="notification is-flex is-flex-centered is-flex-wrap" style="justify-content: space-between !important; width: 100%;" v-for="user in user.followers">
                        <a v-bind:href="`/users/${user.userName}`" class="button is-light is-flex is-flex-centered" v-bind:title="user.userName" style="justify-content: space-between !important; height: 100%;">
                            <img class="image is-64x64 is-circle" v-bind:src="user.avatar?`/data/avatars/${user.userName}/${user.avatar}`:`/images/defaults/def-user-logo.png`" v-bind:alt="user.userName" style="margin-right: 7px;" />
                            <span>{{user.userName}}</span>
                        </a>
                        <a href="/account/login" title="Log In to Follow" class="button is-link" v-else><i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" v-on:click="closeFollowers" title="Close window">Cancel</button>
                </footer>
            </div>
        </div>

        <!-- Modal Followings -->
        <div class="modal" v-bind:class="{'is-active': modals.followings}">
            <div class="modal-background" v-on:click="closeFollowings"></div>
            <div class="modal-card" style="max-height: 95%; min-height: 500px;">
                <header class="modal-card-head">
                    <p class="modal-card-title is-uppercase">followings</p>
                    <button class="delete" aria-label="close" v-on:click="closeFollowings"></button>
                </header>
                <section class="modal-card-body" style="overflow-x: hidden; overflow-y: auto;">
                    <div class="notification is-flex is-flex-centered is-flex-wrap" style="justify-content: space-between !important; width: 100%;" v-for="user in user.followings">
                        <a v-bind:href="`/users/${user.userName}`" class="button is-light is-flex is-flex-centered" v-bind:title="user.userName" style="justify-content: space-between !important; height: 100%;">
                            <img class="image is-64x64 is-circle" v-bind:src="user.avatar?`/data/avatars/${user.userName}/${user.avatar}`:`/images/defaults/def-user-logo.png`" v-bind:alt="user.userName" style="margin-right: 7px;" />
                            <span>{{user.userName}}</span>
                        </a>
                        <a href="/account/login" title="Log In to Follow" class="button is-link" v-else><i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" v-on:click="closeFollowings" title="Close window">Cancel</button>
                </footer>
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated && Model.IBlocked)
    {
        <div class="is-flex" style="align-items: center; flex-direction: column;" v-cloak>
            <p class="has-text-centered is-size-2">You are blocked by @Model.UserName</p>
        </div>
    }
    else
    {
        <div id="posts" class="is-flex" style="align-items: center; flex-direction: column;" v-if="posts.length > 0" v-cloak>
            <div class="card is-responsive" v-for="post in posts" style="margin-bottom: 30px;" v-cloak>
                <header class="card-header">
                    <p class="card-header-title">
                        <a class="has-text-grey-darker has-text-left has-text-justified" v-bind:href="`/users/${post.owner.userName}`" v-bind:title="post.owner.userName" style="margin-right: 3px;"><img class="image is-32x32 is-circle" v-bind:src="post.owner.avatar?`/data/avatars/${post.owner.userName}/${post.owner.avatar}`:`/images/defaults/def-user-logo.png`" v-bind:alt="post.owner.userName" /></a>
                        <a class="has-text-grey-darker has-text-left has-text-justified" v-bind:href="`/users/${post.owner.userName}`" v-bind:title="post.owner.userName">{{post.owner.userName}}</a>
                    </p>

                    <div class="card-header-icon">
                        <a class="button" title="show options" v-on:click="showOptions(post)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </header>

                <div class="card-image is-unselectable" v-on:dblclick="like(post)">
                    <figure class="is-card-image filter" v-bind:class="post.filter">
                        <img v-bind:src="`/data/photos/${post.owner.userName}/${post.path}`" v-bind:alt="`${post.owner.userName} photo with filter`">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            {{post.description}}
                        </div>

                        <div class="media-content">

                        </div>

                        <div class="media-right">
                            <time v-bind:datetime="post.date">{{post.date}}</time>
                        </div>
                    </div>

                    <div class="content">
                        <button class="button is-danger is-unselectable" v-bind:class="post.liked?'':'is-outlined'" v-bind:title="post.liked?'Dislike':'Like'" v-on:click="post.liked?dislike(post):like(post)" v-if="currentAppUserName"><i class="fa-heart" v-bind:class="post.liked?'fas':'far'" aria-hidden="true"></i></button>
                        <button v-if="post.likes.length > 0" class="button is-danger is-unselectable" v-bind:class="post.liked?'':'is-outlined'" v-on:click="showLikes(post)" title="Likes list">{{ post.likes.length }}</button>
                    </div>
                </div>

                <footer class="card-footer">
                    <a class="card-footer-item is-uppercase has-text-grey-darker" v-on:click="showComments(post)" title="Comments">comments<span class="tag is-light" v-if="post.comments.length > 0" style="margin: 0 0 0 3px;">{{ post.comments.length }}</span></a>
                </footer>
            </div>

            <!-- Modal Likes -->
            <div class="modal" v-bind:class="{'is-active': modals.likeActive}" v-if="current">
                <div class="modal-background" v-on:click="closeLikes"></div>
                <div class="modal-card" style="max-height: 95%; min-height: 500px;">
                    <header class="modal-card-head">
                        <p class="modal-card-title is-uppercase">likes</p>
                        <button class="delete" aria-label="close" v-on:click="closeLikes"></button>
                    </header>
                    <section class="modal-card-body" style="overflow-x: hidden; overflow-y: auto;">
                        <div class="media" v-for="like in current.likes">
                            <div class="media-left">
                                <a v-bind:href="`/users/${like.owner.userName}`" class="has-text-black" v-bind:title="like.owner.userName"><b>{{ like.owner.userName }}</b></a>
                            </div>

                            <div class="media-content">

                            </div>

                            <div class="media-right">
                                <small class="has-text-grey">{{ like.date }}</small>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button" v-on:click="closeLikes" title="Close window">Cancel</button>
                    </footer>
                </div>
            </div>

            <!-- Modal Comments -->
            <div class="modal" v-bind:class="{'is-active': modals.commentActive}" v-if="current">
                <div class="modal-background" v-on:click="closeComments"></div>
                <div class="modal-card" style="max-height: 95%; min-height: 500px;">
                    <header class="modal-card-head">
                        <p class="modal-card-title is-uppercase">comments</p>
                        <button class="delete" aria-label="close" v-on:click="closeComments"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="content" style="overflow-x: hidden; overflow-y: auto;">
                            <div class="media" v-for="comment in current.comments">
                                <div class="media-left is-flex is-flex-column">
                                    <a v-bind:href="`/users/${comment.owner.userName}`" class="has-text-black" v-bind:title="comment.owner.userName"><b>{{ comment.owner.userName }}</b></a>
                                    <small class="has-text-grey">{{ comment.date }}</small>
                                </div>

                                <div class="media-content">
                                    {{comment.text}}
                                </div>

                                <div class="media-right" v-if="comment.$id && currentAppUserName == comment.owner.userName">
                                    <button class="delete" v-on:click="deleteComment(comment)"></button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot is-flex is-flex-centered is-flex-wrap">
                        <div class="control" v-if="currentAppUserName" style="width: 100%;">
                            <input class="input" id="comment" type="text" placeholder="Comment photo" v-on:keyup.enter="comment">
                        </div>
                        <button class="button is-primary" v-bind:class="{'is-loading': commenting}" title="Comment photo" style="margin-top: 5px;" v-if="currentAppUserName" v-on:click="comment">Comment</button>
                        <button class="button" style="margin-top: 5px;" v-on:click="closeComments" title="Close window">Cancel</button>
                    </footer>
                </div>
            </div>

            <!-- Modal Options -->
            <div class="modal" v-bind:class="{'is-active': modals.optionActive}" v-if="current">
                <div class="modal-background" v-on:click="closeOptions"></div>
                <div class="content is-flex is-flex-column">
                    <a class="button is-large is-white has-text-grey-darker" title="Copy link to Clipboard" v-on:click="copyToClipboard(current.$id)" style="margin-bottom: 5px;">Copy link to Clipboard</a>
                    <a class="button is-large is-white has-text-grey-darker" title="Go to photo" v-bind:href="`/photos/${current.$id}`" style="margin-bottom: 5px;">Go to photo</a>
                    <a class="button is-large is-white has-text-grey-darker" title="Close" v-on:click="closeOptions">Close</a>
                </div>
            </div>

            <button class="button is-uppercase is-responsive" v-bind:class="{'is-loading': incallback}" v-on:click="fetchPhotos" v-if="!postsFetch.postsLoaded && posts.length > 0 && posts.length%4 == 0">Load More</button>
        </div>
        <div class="is-flex" style="align-items: center; flex-direction: column;" v-else v-cloak>
            <p class="has-text-centered is-size-2">User has no photos</p>
        </div>
    }
</div>
