/*  Changes text selection styles  */
::selection {
    background: rgba(252, 220, 89, .85);
    color: #333;
}

/*  Styles for unloaded vue js components  */
[v-cloak] {
    display: none;
}

/*  Styles for document, body element  */
body,
html {
    padding-top: 40px;
    padding-bottom: 0;
}

h1 {
    font-size: 2.6rem !important;
    color: #333 !important;
    margin-bottom: 40px !important;
}

@media (max-width: 736px) {
    body,
    html {
        padding-top: 10px;
        padding-bottom: 25px;
    }

    h1 {
        font-size: 2.3rem !important;
        margin-bottom: 0;
        padding: 0;
    }
}

/*  Custom styles for modal  */
.modal-custom-background,
.modal-options-background {
    background: rgba(0, 0, 0, .85) !important;
}

.modal-options-content-custom a,
.modal-options-content-custom button {
    margin-bottom: 5px;
    width: 270px !important;
} 

.modal-options-content-custom form {
    width: 270px !important;
}

/*  Metadata styles  */
.modal-card-body-metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-card-custom .close-modal-mobile-button {
    display: none;
}

.modal-card-body-metadata div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-card-body-metadata p {
    color: #333;
    font-size: 1.3rem;
}

.modal-card-body-metadata a {
    display: none;
}

.modal-card-custom {
    max-height: 95% !important;
    min-height: 500px !important;
    border-radius: 5px !important;
}

.modal-card-body,
.modal-card-body > .content {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-card-custom .modal-card-head {
    background: #fff !important;
    color: #333 !important;
}

.modal-card-custom .modal-card-head p {
    margin-bottom: 0;
    margin-top: 0;
}

.modal-card-custom .modal-card-foot {
    background: #fff !important;
    color: #333 !important;
}

#primary-container {
    padding-top: 2vh;
}

@media (max-width: 736px) {
    .modal-card-custom {
        position: absolute !important;
        bottom: 0;
        border-radius: 0 !important;
        height: 82vh !important;
        width: 100vw !important;
        margin: 0 !important;
        background: rgba(255, 255, 255, .9) !important;
    }

    .modal-card-custom .modal-card-head {
        display: none;
    }

    .modal-card-custom section {
        border-top: 1px solid #ddd !important;
    }

    .modal-card-custom .close-modal-mobile-button {
        display: block;
        margin: 0 !important;
        border-radius: 0 !important;
        border-top: 1px solid #ddd !important;
        width: 100vw !important;
        font-size: 1.5rem;
        color: #333;
    }

    .modal-card-custom .modal-card-head,
    .modal-card-custom .modal-card-foot {
        border-radius: 0 !important;
    }

    /*  Metadata card styles  */
    .modal-card-custom-metadata {
        position: absolute !important;
        bottom: 0 !important;
        min-height: 0 !important;
        height: 60vh !important;
    }

    .modal-card-custom-metadata .modal-card-head {
        display: none !important;
    }

    .modal-card-body-metadata {
        padding-bottom: 0 !important;
    }

    .modal-card-body-metadata div {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .modal-card-body-metadata p {
        font-size: 1.15rem;
        padding: 0 !important;
        margin: 0 !important;
    }

    .modal-card-body-metadata a {
        display: block !important;
        margin: 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw !important;
        font-size: 1.5rem !important;
        padding-bottom: 10px !important;
        border-top: 1px solid #ddd !important;
    }

    /*  Modal option background styles  */
    .modal-custom-background,
    .modal-options-background {
        background: rgba(0, 0, 0, .7) !important;
    }

    /*  Modal option mobile styles  */
    .modal-options-content-custom {
        position: absolute;
        bottom: 0;
        width: 100vw !important;
    }

    .modal-options-content-custom a {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw !important;
        border-top: 1px solid #ddd !important;
    }
    
    .modal-options-content-custom button {
        padding-top: 9px !important;
        padding-bottom: 9px !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw !important;
    }

    .modal-options-content-custom form {
        width: 100vw !important;
    }

    #primary-container {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/*  Styles for photo cards  */
#posts,
#bookmarks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    max-width: none !important;
    margin-bottom: 50px !important;
    border-radius: 7px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .17);
    margin-bottom: 30px !important;
    transition: all ease .3s;
}

.card .card-header-title {
    margin-bottom: 0 !important;
}

/*  Styles for unloaded card on create or edit photo pages  */
.card-loading .card-image[preloader] {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px !important;
}

.card-loading .card-image[preloader] img {
    width: 100px !important;
    height: auto !important;
}

.card .file.has-name {
    max-width: 90vw !important;
}

.card-loading .is-filters-picker, 
.card-loading .card-footer {
    display: none !important;
}

/*  Responsive width 100% of screen  */
.is-responsive {
    width: 534px !important;
}

/*  Styles for image inside photo card  */
.is-card-image,
.is-card-image img {
    min-height: 150px;
    height: 100% !important;
    width: 100% !important;
}

.card-button-panel {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.comment-button,
.bookmark-button {
    margin-left: 10px !important;
}

@media (max-width: 736px) {
    .card {
        box-shadow: none !important;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
        margin-bottom: 25px !important;
    }

    /*  Responsive width 40% of screen  */
    .is-responsive {
        width: 100vw !important;
    }
}

/*  Styles for search-card on search page  */
#search-field {
    max-width: 98vw;
    width: 60vw !important;
}

.search-element {
    padding: 15px;
    margin: 20px 0;
    max-width: 98vw;
    width: 60vw !important;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    justify-content: space-between !important;
    transition: all ease .3s;
}

.search-element:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .30);
}

.search-element a {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 70%;
}

@media (max-width: 736px) {
    .search-element {
        box-shadow: none !important;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
    }

    .search-element:hover {
        box-shadow: none !important;
    }

    .search-element, 
    #search-field {
        width: 100vw !important;
    }
}

/*  Styles for follower button in Followers/Followings modal on user page  */
.follower-modal-button {
    height: 70px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*  Make 3 dots in end of too long text  */
.is-doted-end {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*  Make element circle  */
.is-circle {
    border-radius: 50%;
}

/*  Add 10px margin to element  */
.has-margin-10px {
    margin: 10px !important;
}

/*  Makes element invisible  */
.is-display-none {
    display: none !important;
}

/*  Align inner elements center  !flexbox parameter!  */
.is-flex-centered {
    justify-content: center;
    align-items: center;
}

/*  Wrap elements if fill container  !flexbox parameter!  */
.is-flex-wrap {
    flex-wrap: wrap;
}

/*  Flex direction column  !flexbox parameter!  */
.is-flex-column {
    flex-direction: column;
}

/*  Flex direction row  !flexbox parameter!  */
.is-flex-row {
    flex-direction: row;
}

/*  Navbar styles  */
.navbar {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .4s;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .17);
}

/*  Mobile navbar styles  */
.mobile-navbar {
    position: fixed;
    bottom: 0;
    height: 50px;
    padding: 0;
    width: 100vw;
    background: #fff;
    z-index: 10;
    border-top: 1px solid #ddd;

    /*  Hidden on desktops  */
    display: none;
}

.mobile-navbar a {
    height: 100%;
    width: 65px;
    border-radius: 0;
}

@media (max-width: 736px) {
    .navbar {
        box-shadow: none !important;
        border-bottom: 1px solid #ddd;
        border-radius: 0 !important;

        /*  Hide desktop navbar on mobile  */
        display: none;
    }

    /*  Mobile navbar styles  */
    .mobile-navbar {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/*  Hide navbar  */
.is-hidden-navbar {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    box-shadow: none;
}

/*  Nanobar style  */
.bar {
    background: #FCDC59;
}

/*  Filter picker styles  */
input[name="Filter"] + label figure {
    overflow: hidden;
    border-radius: 7px !important;
    transition: all ease-in-out .3s;
}

input[name="Filter"]:hover + label figure,
input[name="Filter"]:checked + label figure{
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .25);
    transform: translateY(-7px);
}

@media (max-width: 736px) {
    input[name="Filter"] + label figure {
        box-shadow: none !important;
        border: 1px solid #ddd !important;
    }

    input[name="Filter"]:hover + label figure,
    input[name="Filter"]:checked + label figure {
        box-shadow: none !important;
    }
}

/*  CSS classes for add shadow  */
.has-tiny-shadow {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .27);
}

.has-bold-shadow {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*  Remove any text transformations  */
.has-text-transform-none {
    text-transform: none !important;
}

@media (max-width: 736px) {
    /*  Makes text smaller on tablets or phones  */
    .adaptive-header {
        font-size: 1.2vw !important;
    }
}

/*  Styles for user panel  */
#main-user-panel {
    margin: 70px 0 70px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-about-panel img {
    width: 176px;
}

#user-about-panel .user-name-text {
    font-size: 1.5rem;
}

#user-about-panel .user-about-text {
    font-size: 1.4rem;
}

#user-about-panel p {
    font-size: 1.5rem;
}

#user-about-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#user-follow-panel {
    margin: 30px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media (max-width: 736px) {
    #main-user-panel {
        border-bottom: 1px solid #ddd;
    }

    #user-about-panel div {

    }

    #user-about-panel img {
        width: 96px;
        box-shadow: none !important;
        border: 1px solid #ddd !important;
    }

    #user-about-panel h3 {
        display: none;
    }

    #user-about-panel .user-name-text {
        font-size: 1.2rem;
    }

    #user-about-panel .user-about-text {
        font-size: 1.1rem;
    }

    #user-follow-panel div {
        width: 100vw;
    }
}

/*  Styles for close button  */
.close-button,
.close-button:hover,
.close-button:focus {
    font-size: 1.5rem;
    color: #333;
}

/*  Styles for footer  */
#footer {
    padding: 30px 0 30px 0;
}

@media (max-width: 768px) {
    #footer {
        display: none;
    }
}

/*  Text align center  */
.has-text-centered {
    text-align: center !important;
}


/*  Adaptive styles for form  */
form.adaptive-form {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

form.adaptive-form div.field {
    width: 40% !important;
}

@media (max-width: 736px) {
    form.adaptive-form {
        padding-right: 3vw !important;
        padding-left: 3vw !important;
    }

    form.adaptive-form div.field {
        width: 100% !important;
    }
}

/*  Styles for empty container  */
.empty-container,
.empty-container-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

..empty-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.empty-container-modal {
    height: 100% !important;
    width: 100% !important;
}

.empty-container p {
    font-size: 3rem;
    color: #333;
}

.empty-container-modal p {
    font-size: 1.8vw;
    color: #333;
}

@media (max-width: 736px) {
    .empty-container,
    .empty-container-modal {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .empty-container p,
    .empty-container-modal p {
        font-size: 1.9rem;
        color: #888;
    }
}

/*  Styles for navbar in manage section  */
#manage-nav {
    justify-content: center;
    margin-bottom: 50px !important;
}

@media (max-width: 736px) {
    #manage-nav {
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
        border-bottom: 1px solid #ddd;
    }
}

/*  Styles for photo details comments container  */
#content-photo-details {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
    padding: 4%;
}

@media (max-width: 736px) {
    #content-photo-details {
        padding: 2vh 4vw 2vh 4vw;
    }
}