/*  Changes text selection styles  */
::selection {
    background: rgba(200, 200, 200, .3);
    color: #333;
}

/*  Styles for unloaded vue js components  */
[v-cloak] {
    display: none !important;
}

/*  Styles for document, body element  */
body,
html {
    padding-top: 40px;
    padding-bottom: 0;
    background: #fff;
}

h1 {
    font-size: 2.6rem !important;
    color: #333 !important;
    margin-bottom: 40px !important;
}

@media (max-width: 736px) {
    body,
    html {
        padding-top: 10px;
    }

    h1 {
        font-size: 2.3rem !important;
        margin-bottom: 0;
        padding: 0;
    }
}



/*  Message panel  */
#message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    position: fixed;
    width: 100vw;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 1100;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .27);
}

#message[data-message-type="error"],
#message {
    background: #FF7043;
    color: #333;
}

#message[data-message-type="success"] {
    background: #fff;
    color: #333;
}

#message[data-hidden="true"],
#message {
    display: none;
}

#message[data-hidden="false"] {
    display: flex !important;
}

#message p.message-text {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 736px) {
    #message {
        top: 0;
        bottom: unset;
        box-shadow: none;
    }
    #message[data-hidden="false"] {
        border-bottom: 1px solid #ddd;
    }
}

/*  Custom styles for modal  */
.modal-custom-background, .modal-options-background {
    background: rgba(0, 0, 0, .85) !important;
}

.modal-options-content-custom a,
.modal-options-content-custom button {
    margin-bottom: 5px;
    width: 270px !important;
} 

.modal-options-content-custom form {
    width: 270px !important;
}

/*  Metadata styles  */
.modal-card-body-metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto !important;
}

.modal-card-custom .close-modal-mobile-button {
    display: none;
}

.modal-card-body-metadata div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.modal-card-body-metadata div.select,
.modal-card-body-metadata input.input{
    max-width: 150px !important;
}

.modal-card-body-metadata div.select select {
    width: 100% !important;
}

.modal-card-body-metadata p {
    color: #333;
    font-size: 1.3rem;
}

.modal-card-body-metadata a {
    display: none;
}

.modal-card-custom {
    max-height: 95% !important;
    min-height: 500px !important;
    border-radius: 3px !important;
}

.modal-card-body,
.modal-card-body > .content {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-card-custom .modal-card-head {
    background: #fff !important;
    color: #333 !important;
}

.modal-card-custom .modal-card-head p {
    margin-bottom: 0;
    margin-top: 0;
}

.modal-card-custom .modal-card-foot {
    background: #fff !important;
    color: #333 !important;
}

#primary-container {
    padding-top: 2vh;
}

#search-buttons-panel {
    margin-bottom: 10px;
}

#photos-search-panel {
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 98vw;
    width: 60vw !important;
}

#photos-search-panel select {
    width: auto !important;
}

@media (max-width: 736px) {
    .modal-card-custom {
        position: absolute !important;
        bottom: 0;
        border-radius: 0 !important;
        height: 82vh !important;
        width: 100vw !important;
        margin: 0 !important;
        background: rgba(255, 255, 255, .9) !important;
    }

    .modal-card-custom .modal-card-head {
        display: none;
    }

    .modal-card-custom section {
        border-top: 1px solid #ddd !important;
    }

    .modal-card-custom .close-modal-mobile-button {
        display: block;
        margin: 0 !important;
        border-radius: 0 !important;
        border-top: 1px solid #ddd !important;
        width: 100vw !important;
        font-size: 1.5rem;
        color: #333;
    }

    .modal-card-custom .modal-card-head,
    .modal-card-custom .modal-card-foot {
        border-radius: 0 !important;
    }

    /*  Metadata card styles  */
    .modal-card-custom-metadata {
        position: absolute !important;
        bottom: 0 !important;
        min-height: 0 !important;
        height: auto !important;
    }

    .modal-card-custom-metadata .modal-card-head {
        display: none !important;
    }

    .modal-card-body-metadata {
        padding-bottom: 0 !important;
    }

    .modal-card-body-metadata div {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .modal-card-body-metadata p {
        font-size: 1.15rem;
        padding: 0 !important;
        margin: 0 !important;
    }

    .modal-card-body-metadata a {
        display: block !important;
        margin: 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw !important;
        font-size: 1.5rem !important;
        padding-bottom: 10px !important;
        border-top: 1px solid #ddd !important;
    }

    /*  Modal option background styles  */
    .modal-custom-background,
    .modal-options-background {
        background: rgba(0, 0, 0, .7) !important;
    }

    /*  Modal option mobile styles  */
    .modal-options-content-custom {
        position: absolute;
        bottom: 0;
        width: 100vw !important;
    }

    .modal-options-content-custom a {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw !important;
        border-top: 1px solid #ddd !important;
    }
    
    .modal-options-content-custom button {
        padding-top: 9px !important;
        padding-bottom: 9px !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw !important;
    }

    .modal-options-content-custom form {
        width: 100vw !important;
    }

    #primary-container {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #photos-search-panel {
        width: 100vw !important;
    }

    #photos-search-panel select {
        width: 115px !important;
    }
}

/*  Styles for photo cards  */
#posts,
#bookmarks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    max-width: none !important;
    margin-bottom: 50px !important;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(38,50,56,.2), 0 8px 24px 0 rgba(0,0,0,.2);
    margin-bottom: 30px !important;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

.card.droping {
    transform: scale(1.1);
}

.card .card-header-title {
    margin-bottom: 0 !important;
}

/*  Styles for unloaded card on create or edit photo pages  */
.card-loading .card-image[preloader] {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px !important;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

.card-loading .card-image[preloader] img {
    width: 100px !important;
    height: auto !important;
    margin-bottom: 15px;
}

.card-loading .card-image[preloader] p {
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
}

.card .file.has-name {
    max-width: 90vw !important;
}

.card-tags-panel {
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-tags-panel a {
    margin-left: 3px;
    margin-right: 3px;
}

.card-content {
    padding-top: 5px;
}

.card-loading .is-filters-picker, 
.card-loading .card-footer {
    display: none !important;
}

.is-filters-picker {
    overflow-y: hidden;
    width: auto;
    cursor: pointer;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
    margin-bottom: 6px;
    margin-top: -3px;
}

.is-filters-picker > div {
    display: inline-block;
    margin: 0px 1px 0px 1px;
    cursor: pointer;
}

/*  Responsive width 100% of screen  */
.is-responsive {
    width: 568px !important;
}

/*  Styles for image inside photo card  */
.is-card-image,
.is-card-image img {
    min-height: 150px;
    height: 100% !important;
    width: 100% !important;
}

.photo-card-date,
.photo-card-date:hover,
.photo-card-date:focus {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.photo-card-date:hover,
.photo-card-date:focus {
    color: #000;
}

.card-button-panel {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.comment-button,
.bookmark-button {
    margin-left: 10px !important;
}

@media (max-width: 736px) {
    .card {
        box-shadow: none !important;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
        margin-bottom: 25px !important;
    }

    .card-tags-panel {
        justify-content: flex-start;
    }

    /*  Responsive width 40% of screen  */
    .is-responsive {
        width: 100vw !important;
    }
}

/*  Styles for search-card on search page  */
.search-field {
    max-width: 98vw;
    width: 60vw !important;
    margin-bottom: 10px;
}

.search-element {
    padding: 15px;
    margin: 20px 0;
    max-width: 98vw;
    width: 60vw !important;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(38,50,56,.2), 0 4px 14px 0 rgba(0,0,0,.2);
    justify-content: space-between !important;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

.search-element:hover {
    box-shadow: 0 0 2px rgba(38,50,56,.2), 0 8px 44px 0 rgba(0,0,0,.2);
}

.search-element a {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 70%;
}

@media (max-width: 736px) {
    .search-element {
        box-shadow: none !important;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
    }

    .search-element:hover {
        box-shadow: none !important;
    }

    .search-element, 
    .search-field {
        width: 100vw !important;
    }
}

/*  Styles for follower button in Followers/Followings modal on user page  */
.follower-modal-button {
    height: 70px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*  Make 3 dots in end of too long text  */
.is-doted-end {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*  Make element circle  */
.is-circle {
    border-radius: 50%;
}

/*  Add 10px margin to element  */
.has-margin-10px {
    margin: 10px !important;
}

/*  Makes element invisible  */
.is-display-none {
    display: none !important;
}

/*  Align inner elements center  !flexbox parameter!  */
.is-flex-centered {
    justify-content: center;
    align-items: center;
}

/*  Wrap elements if fill container  !flexbox parameter!  */
.is-flex-wrap {
    flex-wrap: wrap;
}

/*  Flex direction column  !flexbox parameter!  */
.is-flex-column {
    flex-direction: column;
}

/*  Flex direction row  !flexbox parameter!  */
.is-flex-row {
    flex-direction: row;
}

/*  Navbar styles  */
.desktop-navbar {
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    z-index: 10;
}

.has-nav-shadow {
    box-shadow: 0 5px 6px -3px rgba(0,0,0,0.2);
    border-bottom: 1px solid #ddd;
}

.desktop-navbar b {

}

.desktop-navbar .navbar-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    font-size: 1.4rem;
}

.desktop-navbar .navbar-item:hover,
.desktop-navbar .navbar-item:focus {
    color: #000;
}

/*  Mobile navbar styles  */
.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    padding: 0;
    width: 100vw;
    background: #fff;
    border-top: 1px solid #ddd;
    /*  Hidden on desktops  */
    display: none;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    z-index: 10;
}

.mobile-navbar a {
    height: 100%;
    width: 65px;
    border-radius: 0;
}

@media (max-width: 736px) {
    .desktop-navbar {
        /*box-shadow: none !important;
        border-bottom: 1px solid #ddd;
        border-radius: 0 !important;*/

        /*  Hide desktop navbar on mobile  */
        display: none;
    }

    /*  Mobile navbar styles  */
    .mobile-navbar {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/*  Hide navbar  */
.is-hidden-navbar {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}


.is-hidden-mobile-navbar {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

/*  Peloader style  */
#preloader[data-hidden="true"],
#preloader {
    display: none;
}

#preloader[data-hidden="false"] {
    display: block !important;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3px;
    background-color: #fdba2c;
    z-index: 1200;
}

#preloader > .bar {
    content: "";
    display: inline;
    position: fixed;
    width: 0;
    top: 0;
    height: 3px;
    left: 50%;
    text-align: center;
}

#preloader > .bar:nth-child(1) {
    background-color: #EF5350;
    animation: loading 2s linear infinite;
}

#preloader > .bar:nth-child(2) {
    background-color: #209cee;
    animation: loading 2s linear .66s infinite;
}

#preloader > .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 2s linear 1.4s infinite;
}

@media (max-width: 736px) {
    #preloader {
        height: 5px;
    }

    #preloader > .bar {
        height: 5px;
    }

    #preloader > .bar:nth-child(1) {
        animation: loading 1s linear infinite;
    }

    #preloader > .bar:nth-child(2) {
        animation: loading 1s linear .33s infinite;
    }

    #preloader > .bar:nth-child(3) {
        animation: loading 1s linear .7s infinite;
    }
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 1000;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 100;
    }

    to {
        left: 0;
        width: 100%;
        z-index: 20;
    }
}

/*  Filter picker styles  */
input[name="Filter"] + label figure {
    overflow: hidden;
    cursor: pointer;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

input[name="Filter"]:hover + label h5,
input[name="Filter"]:checked + label h5 {
    color: #FFDD57;
}

/*  CSS classes for add shadow  */
.has-tiny-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.has-bold-shadow {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*  Remove any text transformations  */
.has-text-transform-none {
    text-transform: none !important;
}

@media (max-width: 736px) {
    /*  Makes text smaller on tablets or phones  */
    .adaptive-header {
        font-size: 1.2vw !important;
    }
}

/*  Styles for user panel  */
#main-user-panel {
    margin: 70px 0 70px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-about-panel img {
    width: 176px;
}

#user-about-panel .user-name-text {
    font-size: 1.2rem;
    color: #111;
    font-weight: bold;
}

#user-about-panel .user-about-text {
    font-size: 1.1rem;
    color: #111;
}

#user-about-panel .user-website-href,
#user-about-panel .user-website-href:hover,
#user-about-panel .user-website-href:focus {
    margin-top: 3px;
    font-size: 1rem;
    text-transform: lowercase;
    text-align: center;
    text-decoration: dotted;
    color: #333;
}

#user-about-panel p {
    font-size: 1.5rem;
}

#user-about-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#user-mutual-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 10px;
}

#user-mutual-panel .mutual-friend-button {
    margin: 2px 5px 2px 5px;
}

#user-follow-panel {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media (max-width: 736px) {
    #main-user-panel {
        border-bottom: 1px solid #ddd;
        width: 100vw;
        margin: 10px 0 30px 0;
    }

    #user-about-panel img {
        width: 136px;
        box-shadow: none !important;
        border: 1px solid #ddd !important;
    }

    #user-about-panel h3 {
        display: none;
    }

    #user-about-panel .user-name-text {
        font-size: 1.2rem;
    }

    #user-about-panel .user-about-text {
        font-size: 1.1rem;
    }

    #user-about-panel .user-website-href {
        font-size: 0.8rem;
    }

    #user-follow-panel div {
        width: 100vw;
    }
}

/*  Styles for close button  */
.close-button,
.close-button:hover,
.close-button:focus {
    font-size: 1.5rem;
    color: #333;
}

/*  Styles for footer  */
#footer {
    padding: 30px 0 30px 0;
    background: transparent;
}

@media (max-width: 768px) {
    #footer {
        display: none;
    }
}

@media (max-width: 736px) {
    #footer {
        display: block;
    }
}


/*  Text align center  */
.has-text-centered {
    text-align: center !important;
}


/*  Adaptive styles for form  */
form.adaptive-form {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

form.adaptive-form div.field {
    width: 40% !important;
}

@media (max-width: 736px) {
    form.adaptive-form {
        padding-right: 3vw !important;
        padding-left: 3vw !important;
    }

    form.adaptive-form div.field {
        width: 100% !important;
    }
}

/*  Styles for empty container  */
.empty-container,
.empty-container-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

..empty-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.empty-container-modal {
    height: 100% !important;
    width: 100% !important;
}

.empty-container p {
    font-size: 3rem;
    color: #333;
}

.empty-container-modal p {
    font-size: 1.8vw;
    color: #333;
}

@media (max-width: 736px) {
    .empty-container,
    .empty-container-modal {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .empty-container p,
    .empty-container-modal p {
        font-size: 1.9rem;
        color: #888;
    }
}

/*  Styles for navbar in manage section  */
#manage-nav {
    justify-content: center;
    margin-bottom: 50px !important;
}

@media (max-width: 736px) {
    #manage-nav {
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
        border-bottom: 1px solid #ddd;
    }
}

/*  Styles for photo details comments container  */
#content-photo-details {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
    padding: 4%;
}

@media (max-width: 736px) {
    #content-photo-details {
        padding: 2vh 4vw 2vh 4vw;
    }
}

/*  Styles for add tags modal  */
.modal-card-body-tags {

}

.modal-card-body-tags > input {
    margin-bottom: 5px;
}
    
.modal-card-body-tags > div > a {
    margin: 3px;
}

@media (max-width: 736px) {
    .modal-card-body-tags {
        padding: 0 !important;
    }
    
    .modal-card-body-tags > div {
        margin-bottom: 5px;
    }
}

.tag {
    margin-bottom: 3px !important;
}

.validation-summary {
    margin-bottom: 10px;
}

.validation-summary > ul,
.validation-summary > li {
    text-align: center;
    color: #D32F2F;
    font-weight: bolder;
    font-size: 1rem;
}

/*  Styles for social networks buttons  */
.is-social-button {
    width: 45px !important;
    height: 45px !important;
    color: #fff !important;
    border-radius: 50% !important;
    border: none !important;
    font-size: 1.2rem !important;
    transition: transform .3s cubic-bezier(.4,0,.2,1) !important;
}

.is-social-button:hover,
.is-social-button:focus {
    border: none;
    transform: translateY(-5px);
}

.is-google-button {
    background: #d34836 !important;
}

.is-facebook-button {
    background: #3b5998 !important;
}

.is-twitter-button {
    background: #00aced !important;
}

/*  Styles for option buttons on photo cards  */
.card-header-icon > a,
.card-header-icon > button,
.card-header-icon > div,
.card-header-icon > form {
    margin-left: 3px;
}