@model ExternalLoginViewModel
@{
    ViewBag.Title = "Register";
}

<article class="notification is-info has-text-centered">
    @if(!String.IsNullOrEmpty(ViewData["LoginProvider"] as string))
    {
        <span>You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.</span>
    }
    Please enter an email address and nickname for this site below and click the Register button to finish
    logging in.
</article>

<form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="adaptive-form" style="margin-bottom: 5px;">
    <div asp-validation-summary="All" class="is-danger validation-summary"></div>

    <div class="field">
        <label asp-for="UserName" class="label"></label>
        <div class="control">
            <input asp-for="UserName" class="input" placeholder="Login" required>
        </div>
        <span asp-validation-for="UserName" class="help is-danger"></span>
    </div>

    <div class="field">
        <label asp-for="Email" class="label"></label>
        <div class="control">
            <input asp-for="Email" class="input" placeholder="Email" required>
        </div>
        <span asp-validation-for="Email" class="help is-danger"></span>
    </div>

    <div class="field has-text-centered">
        <button type="submit" class="button is-info">@ViewBag.Title</button>
    </div>
</form>