@{
    ViewBag.Title = "Dashboard";
    Layout = "/Views/Shared/_Admin.cshtml";
}

<section>
    <h3 class="title is-spaced is-3 is-uppercase has-text-left has-text-weight-bold has-text-white" style="margin-top: 35px;">Statistics</h3>
    <div>
        <article></article>
        <article></article>
        <article></article>
    </div>
    <a class="is-spaced is-5 is-uppercase has-text-left has-text-white" href="/admin/stats" title="More statistics">more statistics</a>

    <h3 class="title is-spaced is-3 is-uppercase has-text-left has-text-weight-bold has-text-white" style="margin-top: 35px;">Users</h3>
    <div>
        <article></article>
        <article></article>
        <article></article>
    </div>
    <a class="is-spaced is-5 is-uppercase has-text-left has-text-white" href="/admin/users" title="More users">more users</a>
</section>

