@using Microsoft.AspNetCore.Identity
@using PhotoHub.WEB.ViewModels

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="navbar-item" title="Updates" href="/">
        Updates
    </a>
    <a class="navbar-item" title="Create new photo" href="/photos/create">
        Upload photo
    </a>

    @*<div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">
            Create
        </span>
        <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/photos/create" title="Create photo">
                Photo
            </a>
            <a class="navbar-item" href="/giveaways/create" title="Create giveaway">
                    Giveaway
            </a>
        </div>
    </div>*@

    <a class="navbar-item" title="Search" href="/search">
        Search
    </a>
    <a class="navbar-item" title="@User.Identity.Name" href="/users/@User.Identity.Name">
        Profile
    </a>
}
else
{
    <a id="registerLink" class="navbar-item is-active" href="/account/register" title="Sign up">
        Sign up
    </a>
    <a id="registerLink" class="navbar-item" href="/account/login" title="Log in">
        Log in
    </a>
}
