@{
    ViewBag.Title = "Search";
    ViewBag.Keywords = "Search,users,find,friends";
    ViewBag.Description = "Search page on PhotoHub";
}

@section Scripts {
    <script defer src="~/js/home/search.js"></script>
}

<div id="search" v-cloak>
    <div class="field is-grouped">
        <p class="control is-expanded">
            <input class="input" type="text" v-on:keyup.enter="handleSearch" v-model="searchString" placeholder="Enter login or email" required>
        </p>
        <p class="control">
            <button class="button is-primary" v-bind:class="{'is-loading': incallback}" v-on:submit.prevent="handleSearch" v-on:submit="handleSearch" v-on:click="handleSearch">
                Search
            </button>
        </p>
    </div>


    <div class="container" style="margin-top: 40px;">
        <div class="is-flex is-flex-centered is-flex-wrap search-element" style="justify-content: space-between !important; width: 100%;" v-for="user in users">
            <a v-bind:href="`/Users/Details/${user.userName}`" class="button is-white is-flex is-flex-centered" style="justify-content: space-between !important; height: 100%;">
                <img class="image is-64x64 is-circle" v-bind:src="`/data/avatars/${user.userName}/${user.avatar}`" v-bind:alt="user.userName" style="margin-right: 7px;"/>
                <span>{{user.userName}}</span>
            </a>
            <button class="button is-warning" v-bind:class="user.followed?'is-danger':'is-warning'" v-on:click="user.followed?disfollow(user):follow(user)"><i class="fas fa-user-plus" v-bind:class="user.followed?'fa-user-times':'fa-user-plus'"></i></button>
        </div>
        <button class="button is-uppercase is-responsive" v-bind:class="{'is-loading': incallback}" v-on:click="search" v-if="!this.usersLoaded && users.length > 0 && users.length%12 == 0">Load More</button>
    </div>
</div>