@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_ManageNav")
<section class="">
    @RenderBody()
</section>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
        
