@using PhotoHub.DAL.Entities
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav class="is-flex is-flex-centered is-flex-wrap" style="margin-bottom: 50px;">
    <a asp-action="Index" class="button is-rounded is-light">Profile</a>
    <a asp-action="ChangePassword" class="button is-rounded is-light">Password</a>
    @if (hasExternalLogins)
    {
        <a asp-action="ExternalLogins" class="button is-rounded is-light">External logins</a>
    }
    <a @*asp-action="TwoFactorAuthentication"*@ class="button is-rounded is-light" disabled>Two-factor authentication</a>
</nav>

