@{
    ViewBag.Title = "Bookmarks";
}

@section Scripts {
    <script defer src="~/js/manage/bookmarks.js"></script>
}

<div id="bookmarks" class="is-flex">
    <article class="card is-responsive" v-for="post in posts" :key="post.$id" v-if="posts != null || posts.length > 0" v-cloak>
        <header class="card-header">
            <p class="card-header-title">
                <a class="has-text-grey-darker has-text-left has-text-justified" v-bind:href="`/users/${post.owner.userName}`" v-bind:title="post.owner.userName" style="margin-right: 3px;"><img class="image is-32x32 is-circle" v-bind:src="post.owner.avatar" v-bind:alt="post.owner.userName" /></a>
                <a class="has-text-grey-darker has-text-left has-text-justified" v-bind:href="`/users/${post.owner.userName}`" v-bind:title="post.owner.userName">{{post.owner.userName}}</a>
            </p>

            <div class="card-header-icon">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="button is-white" title="Report photo" v-on:click="reportPhoto(post.$id)"><i class="fas fa-exclamation-circle" v-bind:data-report-id="post.$id"></i></a>
                }
                    <a class="button is-white" title="Share" v-on:click="sharePhoto(post)" v-if="canShare"><i class="fas fa-share-alt"></i></a>
                <a class="button is-white" title="Copy link to clipboard" v-on:click="copyToClipboard(post.$id)"><i class="far fa-clipboard" v-bind:data-copy-id="post.$id"></i></a>
            </div>
        </header>

        <div class="card-image is-unselectable" v-on:dblclick="like(post)">
            <figure class="is-card-image filter" v-bind:class="post.filter">
                <img v-bind:src="`/data/photos/${post.owner.userName}/${post.path}`" v-bind:alt="`${post.owner.userName} photo with filter`">
            </figure>
        </div>

        <div class="card-tags-panel">
            <a class="button is-small is-light" v-bind:href="`/tag/${tag.name}`" v-for="tag in post.tags">{{tag.name}}</a>
        </div>

        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    {{post.description}}
                </div>

                <div class="media-content">

                </div>

                <div class="media-right">
                    <a class="photo-card-date" v-bind:href="`/photos/${post.$id}`" title="Go to photo"><time v-bind:datetime="post.date">{{post.date}}</time></a>
                </div>
            </div>

            <div class="content card-button-panel">
                <div>
                    <button class="button is-danger is-unselectable" v-bind:class="post.liked?'':'is-outlined'" v-on:click="post.liked?dislike(post):like(post)" v-bind:title="post.liked?'Dislike':'Like'" v-if="currentAppUserName"><i class="fa-heart" v-bind:class="post.liked?'fas':'far'"></i></button>
                    <button v-if="post.likes.length > 0" class="button is-danger is-unselectable" v-bind:class="post.liked?'':'is-outlined'" v-on:click="showLikes(post)" title="Likes list">{{ post.likes.length }}</button>
                    <button class="button is-light comment-button" v-on:click="showComments(post)" title="Comments"><i class="fas fa-comment"></i></button>
                    <button class="button is-light" v-on:click="showComments(post)" title="Comments" v-if="post.comments.length > 0">{{ post.comments.length }}</button>
                </div>
                <div>
                    <button class="button is-white" title="Show metadata" v-on:click="showMetadata(post)"><i class="fab fa-medapps"></i></button>
                    <button class="button bookmark-button" v-bind:class="post.bookmarked?'is-light':'is-white'" title="Save to bookmarks" v-if="currentAppUserName" v-on:click="post.bookmarked?disbookmark(post):bookmark(post)"><i class="fa-bookmark" v-bind:class="post.bookmarked?'fas':'far'"></i></button>
                </div>
            </div>

            <footer class="card-footer" v-bind:class="{'is-hidden': !post.commentActive}">
                <div class="content" style="width: 100%;">
                    <div class="content" id="content-photo-details" v-if="post && post.comments.length">
                        <div class="media" v-for="comment in post.comments" :key="comment.$id">
                            <div class="media-left is-flex is-flex-column">
                                <a v-bind:href="`/users/${comment.owner.userName}`" class="has-text-black" v-bind:title="comment.owner.userName"><b>{{ comment.owner.userName }}</b></a>
                                <small class="has-text-grey">{{ comment.date }}</small>
                            </div>

                            <div class="media-content is-doted-end" v-bind:title="comment.text">
                                {{comment.text}}
                            </div>

                            <div class="media-right" v-if="comment.$id && (currentAppUserName == comment.owner.userName || post.owner.userName == currentAppUserName || appPermission == 'True')">
                                <a class="close-button" v-on:click="deleteComment(comment, post)" title="Delete comment"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="control">
                            <input class="input" v-bind:id="`comment${post.$id}`" type="text" placeholder="Comment photo" v-on:keyup.enter="comment(post)">
                            <div class="is-flex is-flex-centered" style="margin: 10px 0 5px 0">
                                <button class="button is-accent-button" v-bind:class="{'is-loading': commenting}" v-on:click="comment(post)" title="Comment photo">Comment</button>
                            </div>
                        </div>
                    }
                </div>
            </footer>
        </div>
    </article>

    <!-- Empty -->
    <div class="empty-container" v-if="(posts == null || posts.length <= 0) && postsLoaded" v-cloak>
        <p>You have no bookmarks</p>
    </div>

    <!-- Modal Likes -->
    <div class="modal" v-bind:class="{'is-active': modals.likeActive}" v-if="current">
        <div class="modal-background modal-custom-background" v-on:click="closeLikes"></div>
        <div class="modal-card modal-card-custom">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">likes</p>
                <a class="close-button" v-on:click="closeLikes" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body" v-if="current.likes != null && current.likes.length > 0">
                <div class="media" v-for="like in current.likes" :key="like.$id">
                    <div class="media-left">
                        <a v-bind:href="`/users/${like.owner.userName}`" class="has-text-black is-doted-end" v-bind:title="like.owner.userName"><b>{{ like.owner.userName }}</b></a>
                    </div>

                    <div class="media-content">

                    </div>

                    <div class="media-right">
                        <small class="has-text-grey">{{ like.date }}</small>
                    </div>
                </div>
            </section>
            <section class="modal-card-body" style="overflow-x: hidden; overflow-y: auto;" v-if="current.likes == null || current.likes.length <= 0">
                <div class="empty-container-modal">
                    <p>Like it first</p>
                </div>
            </section>
            <a class="button is-white close-modal-mobile-button" title="Close modal" v-on:click="closeLikes">Close</a>
        </div>
    </div>

    <!-- Modal Metadata -->
    <div class="modal" v-bind:class="{'is-active': modals.metadataActive}" v-if="posts.length > 0 && current">
        <div class="modal-background modal-custom-background" v-on:click="closeMetadata"></div>
        <div class="modal-card modal-card-custom modal-card-custom-metadata">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">info</p>
                <a class="close-button" v-on:click="closeMetadata" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body modal-card-body-metadata">
                <div>
                    <p>Brand</p>
                    <p>{{current.manufacturer}}</p>
                </div>
                <div>
                    <p>Model</p>
                    <p>{{current.model}}</p>
                </div>
                <div>
                    <p>ISO</p>
                    <p>{{current.iso}}</p>
                </div>
                <div>
                    <p>Exposure</p>
                    <p>{{current.exposure}}</p>
                </div>
                <div>
                    <p>Aperture</p>
                    <p>{{current.aperture}}</p>
                </div>
                <div>
                    <p>Focal length</p>
                    <p>{{current.focalLength}}</p>
                </div>
                <div>
                    <p>Filter</p>
                    <p>{{current.filter}}</p>
                </div>
                <a class="button is-white has-text-grey-darker" title="Close modal" v-on:click="closeMetadata">Close</a>
            </section>
        </div>
    </div>

    <button class="button is-uppercase is-responsive" v-bind:class="{'is-loading': incallback}" v-on:click="fetchPhotos" v-if="!this.postsLoaded && posts.length > 0 && posts.length%8 == 0" v-cloak>Load More</button>
</div>
