@{
    ViewBag.Title = "Bookmarks";
}

@section Scripts {
    <script defer src="~/js/manage/bookmarks.js"></script>
}

<div id="bookmarks" class="is-flex" style="align-items: center; flex-direction: column;" v-cloak>

    <div class="card is-responsive" v-for="post in posts" style="margin-bottom: 30px;" v-cloak>
        <header class="card-header">
            <p class="card-header-title">
                <a class="has-text-grey-darker has-text-left has-text-justified" v-bind:href="`/users/${post.owner.userName}`" v-bind:title="post.owner.userName" style="margin-right: 3px;"><img class="image is-32x32 is-circle" v-bind:src="post.owner.avatar" v-bind:alt="post.owner.userName" /></a>
                <a class="has-text-grey-darker has-text-left has-text-justified" v-bind:href="`/users/${post.owner.userName}`" v-bind:title="post.owner.userName">{{post.owner.userName}}</a>
            </p>

            <div class="card-header-icon">
                <a class="button is-white" title="show options" v-on:click="showOptions(post)"><i class="fas fa-bars"></i></a>
            </div>
        </header>

        <div class="card-image is-unselectable" v-on:dblclick="like(post)">
            <figure class="is-card-image filter" v-bind:class="post.filter">
                <img v-bind:src="`/data/photos/${post.owner.userName}/${post.path}`" v-bind:alt="`${post.owner.userName} photo with filter`">
            </figure>
        </div>

        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    {{post.description}}
                </div>

                <div class="media-content">

                </div>

                <div class="media-right">
                    <time v-bind:datetime="post.date">{{post.date}}</time>
                </div>
            </div>

            <div class="content card-button-panel">
                <div>
                    <button class="button is-danger is-unselectable" v-bind:class="post.liked?'':'is-outlined'" v-on:click="post.liked?dislike(post):like(post)" v-bind:title="post.liked?'Dislike':'Like'" v-if="currentAppUserName"><i class="fa-heart" v-bind:class="post.liked?'fas':'far'"></i></button>
                    <button v-if="post.likes.length > 0" class="button is-danger is-unselectable" v-bind:class="post.liked?'':'is-outlined'" v-on:click="showLikes(post)" title="Likes list">{{ post.likes.length }}</button>
                    <button class="button is-light comment-button" v-on:click="showComments(post)" title="Comments"><i class="fas fa-comment"></i></button>
                    <button class="button is-light" v-on:click="showComments(post)" title="Comments" v-if="post.comments.length > 0">{{ post.comments.length }}</button>
                </div>
                <div>
                    <button class="button is-white" title="Show metadata" v-on:click="showMetadata(post)"><i class="fab fa-medapps"></i></button>
                    <button class="button bookmark-button" v-bind:class="post.bookmarked?'is-light':'is-white'" title="Save to bookmarks" v-if="currentAppUserName" v-on:click="post.bookmarked?disbookmark(post):bookmark(post)"><i class="fa-bookmark" v-bind:class="post.bookmarked?'fas':'far'"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Likes -->
    <div class="modal" v-bind:class="{'is-active': modals.likeActive}" v-if="current">
        <div class="modal-background modal-custom-background" v-on:click="closeLikes"></div>
        <div class="modal-card modal-card-custom">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">likes</p>
                <a class="close-button" v-on:click="closeLikes" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body" style="overflow-x: hidden; overflow-y: auto;">
                <div class="media" v-for="like in current.likes">
                    <div class="media-left">
                        <a v-bind:href="`/Users/${like.owner.userName}`" class="has-text-black is-doted-end" v-bind:title="like.owner.userName"><b>{{ like.owner.userName }}</b></a>
                    </div>

                    <div class="media-content">

                    </div>

                    <div class="media-right">
                        <small class="has-text-grey">{{ like.date }}</small>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal Comments -->
    <div class="modal" v-bind:class="{'is-active': modals.commentActive}" v-if="current">
        <div class="modal-background modal-custom-background" v-on:click="closeComments"></div>
        <div class="modal-card modal-card-custom">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">comments</p>
                <a class="close-button" v-on:click="closeComments" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body">
                <div class="content" style="overflow-x: hidden; overflow-y: auto;">
                    <div class="media" v-for="comment in current.comments">
                        <div class="media-left is-flex is-flex-column">
                            <a v-bind:href="`/users/${comment.owner.userName}`" class="has-text-black" v-bind:title="comment.owner.userName"><b>{{ comment.owner.userName }}</b></a>
                            <small class="has-text-grey">{{ comment.date }}</small>
                        </div>

                        <div class="media-content is-doted-end" v-bind:title="comment.text">
                            {{comment.text}}
                        </div>

                        <div class="media-right" v-if="comment.$id && currentAppUserName == comment.owner.userName">
                            <a class="close-button" v-on:click="deleteComment(comment)" title="Delete comment"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-flex is-flex-centered is-flex-wrap" v-if="currentAppUserName">
                <div class="control" v-if="currentAppUserName" style="width: 100%;">
                    <input class="input" id="comment" type="text" placeholder="Comment photo" v-on:keyup.enter="comment">
                </div>
                <button class="button is-warning" v-bind:class="{'is-loading': commenting}" style="margin-top: 5px;" title="Comment photo" v-if="currentAppUserName" v-on:click="comment">Comment</button>
            </footer>
        </div>
    </div>

    <!-- Modal Options -->
    <div class="modal" v-bind:class="{'is-active': modals.optionActive}" v-if="current">
        <div class="modal-background modal-options-background" v-on:click="closeOptions"></div>
        <div class="content is-flex is-flex-column modal-options-content-custom">
            <a class="button is-large is-white has-text-grey-darker" title="Copy link to Clipboard" v-on:click="copyToClipboard(current.$id)">Copy link to Clipboard</a>
            <a class="button is-large is-white has-text-grey-darker" title="Go to photo" v-bind:href="`/photos/${current.$id}`">Go to photo</a>
            <a class="button is-large is-white has-text-grey-darker" title="Close" v-on:click="closeOptions">Close</a>
        </div>
    </div>

    <!-- Modal Metadata -->
    <div class="modal" v-bind:class="{'is-active': modals.metadataActive}" v-if="posts.length > 0 && current">
        <div class="modal-background modal-custom-background" v-on:click="closeMetadata"></div>
        <div class="modal-card modal-card-custom modal-card-custom-metadata">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">metadata</p>
                <a class="close-button" v-on:click="closeMetadata" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body modal-card-body-metadata" style="overflow-x: hidden; overflow-y: auto;">
                <div>
                    <p>Manufacturer</p>
                    <p>{{current.manufacturer}}</p>
                </div>
                <div>
                    <p>Model</p>
                    <p>{{current.model}}</p>
                </div>
                <div>
                    <p>ISO</p>
                    <p>{{current.iso}}</p>
                </div>
                <div>
                    <p>Exposure</p>
                    <p>{{current.exposure}}</p>
                </div>
                <div>
                    <p>Aperture</p>
                    <p>{{current.aperture}}</p>
                </div>
                <div>
                    <p>Filter</p>
                    <p>{{current.filter}}</p>
                </div>
            </section>
        </div>
    </div>

    <button class="button is-uppercase is-responsive" v-bind:class="{'is-loading': incallback}" v-on:click="fetchPhotos" v-if="!this.postsLoaded && posts.length > 0 && posts.length%8 == 0">Load More</button>
</div>
