@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<form method="post" class="adaptive-form">
    <div class="field">
        <div asp-validation-summary="All" class="has-text-danger"></div>
    </div>

    <div class="field">
        <label asp-for="OldPassword" class="label"></label>
        <div class="control">
            <input asp-for="OldPassword" class="input" />
        </div>
        <p asp-validation-for="OldPassword" class="help is-danger"></p>
    </div>

    <div class="field">
        <label asp-for="NewPassword" class="label"></label>
        <div class="control">
            <input asp-for="NewPassword" class="input" />
        </div>
        <p asp-validation-for="NewPassword" class="help is-danger"></p>
    </div>

    <div class="field">
        <label asp-for="ConfirmPassword" class="label"></label>
        <div class="control">
            <input asp-for="ConfirmPassword" class="input" />
        </div>
        <p asp-validation-for="ConfirmPassword" class="help is-danger"></p>
    </div>

    <div class="field has-text-centered">
        <button type="submit" class="button is-accent-button" title="Update password">Update password</button>
    </div>
</form>