@model IndexViewModel
@{
    ViewBag.Title = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<form method="post" class="adaptive-form">
    <div asp-validation-summary="All" class="has-text-danger"></div>

    <div class="field">
        <label asp-for="Username" class="label"></label>
        <div class="control">
            <input asp-for="Username" class="input" />
        </div>
    </div>

    <div class="field">
        <label asp-for="About" class="label"></label>
        <div class="control">
            <textarea asp-for="About" class="textarea"></textarea>
        </div>
    </div>

    <div class="field">
        <label asp-for="Email" class="label"></label>
        <div class="control">
            <input asp-for="Email" class="input" />
        </div>
        @if (Model.IsEmailConfirmed)
        {
            <p class="help is-success">Verified</p>
        }
        <p asp-validation-for="Email" class="help is-danger"></p>
        @if (!Model.IsEmailConfirmed)
        {
            <div class="has-text-centered">
                <button asp-action="SendVerificationEmail" class="button is-light" title="Send verification email">Send verification email</button>
            </div>
        }
    </div>

    <div class="field">
        <label asp-for="PhoneNumber" class="label"></label>
        <div class="control">
            <input asp-for="PhoneNumber" class="input" />
        </div>
        <p asp-validation-for="PhoneNumber" class="help is-danger"></p>
    </div>

    <div class="field has-text-centered">
        <button type="submit" class="button is-warning" title="Save">Save</button>
    </div>
</form>
